@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap");

:root {
  --red: #ff3147;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.header .navbar{
  position: fixed;
}
.home-hero {
  scroll-margin-top: 4rem;
}
.hero {
  background-color: #ffffff;
  height: 100vh;
  margin-top: 1rem;
}

.home h4 {
  color: var(--red);
  padding: 0.5rem 0;
}
.home h1 {
  font-weight: 500;
  text-wrap: wrap;
  padding: 0.5rem 0;
}
.home p {
  text-wrap: balance;
  padding: 0.5rem 0;
}
.home .btn {
  background-color: var(--red);
  color: #ffffff;
  border: 0;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem 1.5rem;
  border-radius: 2px;
  text-transform: uppercase;
  margin: 0.8rem 0;
}
.home .btn:hover {
  color: var(--red);
  background-color: #ffffff;
  border: 1px solid var(--red);
}
.home-img {
  overflow: hidden;
}

.home-img img {
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.what-we-do,
.growth-feedback {
  background-color: #fafafa;

  scroll-margin-top: 4.5rem;
}
.what-we-do .heading,
.why-choose-us .heading,
.growth-feedback .heading,
.client-feedback .heading {
  color: var(--red);

  font-weight: 600;
}

.what-we-do .heading-main {
  font-weight: bolder;
  text-transform: uppercase;
  padding-right: 1.5rem;
  text-wrap: balance;
  margin-right: 1.5rem;
}
/*  carousel style*/
#carousel-img .carousel-inner {
  padding: 1em;
}

#carousel-img .carousel-inner .card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  overflow: hidden; /* Ensure the content doesn't overflow */
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  #carousel-img .carousel-inner .carousel-item {
    margin-right: 0;
    flex: 0 0 25.333333%;
    display: block;
  }
  #carousel-img .carousel-inner {
    display: flex;
  }
}

#carousel-img .carousel-inner .card .img-wrapper {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#carousel-img .carousel-inner .card img {
  max-height: 100%;
  transition: transform 0.3s ease; /* Smooth image transition */
}

#carousel-img .carousel-inner .card:hover img {
  transform: scale(1.1); /* Zoom image on hover */
}

@media (max-width: 767px) {
  #carousel-img .carousel-inner .card .img-wrapper {
    width: 100%;
  }
}

#carousel-img .carousel-inner .carousel-item .card-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff3147; /* Darken background */
  color: #ffffff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth opacity and transform transition */
  transform: translateY(10px); /* Initial transform for slide-up effect */
}

#carousel-img .carousel-inner .card:hover .card-body {
  opacity: 1;
  transform: translateY(0); /* Slide up on hover */
}

#carousel-img .carousel-inner .carousel-item .btn {
  background-color: #f4f4f4;
  color: #ff3147;
  border-radius: 2px;
}

.custom-buttons {
  display: flex;
  justify-content: start;
}

.custom-buttons .btn.active img {
  content: url(../assets/icons/1.svg);
}

.custom-buttons .btn img {
  content: url(../assets/icons/2.svg);
}

.custom-buttons .btn {
  border: none;
  outline: 0;
  background: none;
}

.carousel-control-next.disabled,
.carousel-control-prev.disabled {
  cursor: not-allowed;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#why-choose-us,
.client-feedback {
  background-color: #ffffff;
  scroll-margin-top: 4.5rem;
}

.why-choose-us .heading-main,
.growth-feedback .heading-main,
.client-feedback .heading-main {
  font-weight: bolder;
  text-transform: uppercase;
  padding-right: 1.5rem;
  text-wrap: balance;
  margin-right: 1.5rem;
}

.why-choose-us .cards-container .card {
  max-width: 256px;
  border: none;
}
.cards-container img {
  max-width: 72px;

  border: none;
}

.cards-container .card .card-body {
  margin-top: 0.5em;
  align-self: flex-start;
}

.our-project .content-img img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}
.our-project {
  max-height: 770px;
}

.our-project .nav {
  border: none;
  background: #f6f6f6;
  padding: 0;
  margin: 0;
  height: 100%;
  max-height: 770px;
}

.our-project .nav .nav-item,
.our-project .nav-link {
  padding: 0 !important;
  margin: 0 !important;
}

.our-project .nav-item .card,
.our-project .nav-link {
  border: none;
  padding: 1.6rem 1.3rem;
  margin: 0;
  background-color: #f6f6f6;
  text-align: start;
}

.our-project .nav-item .nav-link.active div {
  background-color: #ff3147;
  color: #ffffff;
}

.contact-us .modal-title {
  color: #2d3142;
}

.contact-us-form input[type="email"],
.contact-us-form input[type="text"] {
  width: 100%;
  padding-left: 0% !important;
  border: none;

  border-bottom: 1px solid #cccccc;
  border-radius: 0;
}
.contact-us-form label {
  color: #6f718f;
  padding-left: 0% !important;
  border: none;
}

.contact-us-form .form-control:focus {
  box-shadow: none;
}

.contact-us-form .form-check-input {
  border-color: #ff3366;
  box-shadow: none;
  border: 2px solid #ff3366;
}
.contact-us-form .form-check-input:checked {
  background-color: #ff3366;
}

.contact-us-btn {
  background-color: #ff3366 !important;
  width: 100%;
  color: #ffffff;
}

.growth-card {
  max-width: 270px;
  background: #ffffff;
  border: 0;
  width: 270px;
  height: 233px;
}

.growth-card img {
  max-width: 39.3px;
  max-height: 100%;
}

.growth-card .number {
  font-size: 60px;
  font-weight: 300;
  margin: 0;
}
.growth-card .text {
  /* Your Poppins font */
  font-family: "Poppins", sans-serif;
  font-weight: 300; /* Light */
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.growth-card:hover {
  box-shadow: 3px 6px 20px #672c2c1f;
}

.feedback-box{

    display: flex;
    justify-content: center;
    align-items: center;
   
    
    

}
.feedback-box .content{
  flex-basis: 65%;
 

}

.content-text{
  position: relative;
  z-index: 999 !important;
  font-size: 20px;
}
.content-text .quotemarks{
  position: absolute;
  top: -20px;
  left: -10px;
  z-index: -1;
}
.content .name{
  color: var(--red);
  font-weight: bold;
  font-size: 20px;
}
.content .des{
color: #808080;

}

.footer{

  display: flex;
  max-height: 310px;
  height: 310px;
  background-color: var(--red);
  z-index: 0;
align-items: center;
justify-content: center;
}

.footer-img{
 width: 900px;
  
}