/* #carousel-img .carousel-inner {
  padding: 1em;
}

#carousel-img .carousel-inner .card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  overflow: hidden; 
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  #carousel-img .carousel-inner .carousel-item {
    margin-right: 0;
    flex: 0 0 25.333333%;
    display: block;
  }
  #carousel-img .carousel-inner {
    display: flex;
  }
}

#carousel-img .carousel-inner .card .img-wrapper {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#carousel-img .carousel-inner .card img {
  max-height: 100%;
  transition: transform 0.3s ease; 
}

#carousel-img .carousel-inner .card:hover img {
  transform: scale(1.1); 
}

@media (max-width: 767px) {
  #carousel-img .carousel-inner .card .img-wrapper {
    width: 100%;
  }
}

#carousel-img .carousel-inner .carousel-item .card-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff3147; 
  color: #ffffff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease; 
  transform: translateY(10px); 
}

#carousel-img .carousel-inner .card:hover .card-body {
  opacity: 1;
  transform: translateY(0); 
}

#carousel-img .carousel-inner .carousel-item .btn {
  background-color: #f4f4f4;
  color: #ff3147;
  border-radius: 2px;
}

.custom-buttons {
  display: flex;
  justify-content: start;
}

.custom-buttons .btn.active img {
  content: url(../assets/icons/1.svg);
}

.custom-buttons .btn img {
  content: url(../assets/icons/2.svg);
}

.custom-buttons .btn {
  border: none;
  outline: 0;
  background: none;
}

.carousel-control-next.disabled,
.carousel-control-prev.disabled {
  cursor: not-allowed;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
 */
